<header class="top-bar navbar navbar-expand-lg justify-content-between navbar-light">
    <div class="container">
        <a class="navbar-brand" href="#" [routerLink]="['/dashboard']" aria-label="link home">
            <img src="./assets/images/homeIcon.png" class="logo-image d-inline-block" role="presentation" />
            <span class="seperator d-inline-block">|</span>
            <span class="app-name d-inline-block">Home Base</span>
        </a>
    </div>
</header>

<nav class="bottom-bar navbar navbar-expand-lg navbar-light p-lg-0" role="navigation">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto justify-content-between">

                <li class="nav-item expandable">
                    <a class="nav-link" href="/">
                        <span>Dashboard </span></a>
                </li>

                <li class="nav-item expandable">
                    <a class="nav-link" href="/action-log">
                        <span>Log</span></a>
                </li>

            </ul>

        </div>
    </div>

</nav>